**/[Ll]ocal/*
**/[Ll]ocaldb/*
*.lib
*.dll
*.obj
*.ilk
*.pdb
*.exp
*.exe
**/[Bb]in/*
**/[Bb]uild/*
**/[Ll]ib/*
**/.vs/*
*.vcxproj
*.sln
*.code-workspace
**/[Ss]pike/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/__pycache__/*
ToDoLists.txt
*_planning.txt